<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEQDNAtMwiA49Yo4HmCF3cbhFnJammbyY</string>
	<key>GCM_SENDER_ID</key>
	<string>972076944226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.avocadotech.tacttik.tactTik</string>
	<key>PROJECT_ID</key>
	<string>livtech-dbcf2</string>
	<key>STORAGE_BUCKET</key>
	<string>livtech-dbcf2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972076944226:ios:5e15e5d07a209a0d687a3b</string>
</dict>
</plist>